@page  "{id}"
@model Oiski.School.ToDo_H2_2021.UI.Pages.ProjectDetailsModel
@{
    ViewData[ "Title" ] = Model.Project.Name;
}


<h1 class="text-center">@Model.Project.Name</h1>
<p>
    <a asp-page="Create">New Task</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                To Do
            </th>
            <th>
                Description
            </th>
            <th>
                Status
            </th>
            <th>
                Settings
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model.Project.GetEnumerable ().ToList () )
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <i>@Html.DisplayFor(modelItem => item.Description)</i>
                </td>
                <tds>
                    <i>@Html.DisplayFor(modelItem => item.Status)</i>
                </tds>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>