@page "{projectID}/{taskID}"
@model Oiski.School.ToDo_H2_2021.UI.Pages.TaskPages.DeleteTaskModel
@{
    ViewData[ "Title" ] = $"Delete - {Model.Name}";
}

<h1 class="text-center" style="color:red">You're about to delete: <i>@Model.Name</i></h1>
<p class="text-center">Type <u>@Model.Name</u> in the textbox below to verify that you want to delete the project</p>

<form method="post" asp-route-id="@Model.Task.ID">
    @* ID for the task to be deleted and the ID and name of the project containing the task *@
    <input asp-for="@Model.Task.ID" type="hidden" />
    <input asp-for="Project.ID" type="hidden" />
    <input asp-for="Project.Name" type="hidden" />

    @* Name Validation Displays *@
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-2">
            <p>Task Name: </p>
        </div>
        <div class="col-md-6">
            <input asp-for="@Model.Task.Name" required type="text" />
        </div>
    </div>

    @* Submit Button Display *@
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-7">
            <input class="btn-danger btn-lg" type="submit" value="Delete Project" />
        </div>
    </div>
</form>