@page  "{id}"
@model Oiski.School.ToDo_H2_2021.UI.Pages.ProjectDetailsModel
@{
    ViewData[ "Title" ] = Model.Project.Name;
}


<h1 class="text-center">@Model.Project.Name</h1>

@* ID Display - Read-only *@
<div class="row">
    <div class="col-md-2">
        <p>ID: </p>
    </div>
    <div class="col-md-10">
        <input readonly="readonly" type="text" asp-for="Project.ID" />
    </div>
</div>

@* Name Display - Read-only *@
<div class="row">
    <div class="col-md-2">
        <p>Name: </p>
    </div>
    <div class="col-md-10">
        <input readonly="readonly" type="text" asp-for="Project.Name" />
    </div>
</div>

@* Description Display - Read-only *@
<div class="row">
    <div class="col-md-2">
        <p>Description: </p>
    </div>
    <div class="col-md-10">
        <textarea rows="10" cols="50" readonly="readonly" asp-for="Project.Description"></textarea>
    </div>
</div>

@* Status Display - Read-only *@
<div class="row">
    <div class="col-md-2">
        <p>Status: </p>
    </div>
    <div class="col-md-10">
        <input readonly="readonly" type="text" asp-for="Project.Status" />
    </div>
</div>

@* Edit Button Display *@
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-1">
        <a class="btn btn-success" asp-page="./EditProject" asp-route-id="@Model.Project.ID">Edit</a>
    </div>
    <div class="col-md-9">
        <a class="btn btn-danger" asp-page="./DeleteProject" asp-route-id="@Model.Project.ID">Delete</a>
    </div>
</div>

<h2 class="text-center">Tasks</h2>

@* Create New Task Button Display *@
<p>
    <a asp-page="/TaskPages/CreateTask" asp-route-id="@Model.Project.ID">New Task</a>
</p>

@* Task Display *@
<table class="table">
    <thead>
        <tr>
            <th>
                To Do
            </th>
            <th>
                Description
            </th>
            <th>
                Status
            </th>
            <th>
                Settings
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model.Project.GetEnumerable ().ToList () )
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <i>@Html.DisplayFor(modelItem => item.Description)</i>
                </td>
                <td>
                    @* Coloring Status values *@
                    @{
                        switch ( item.Status )
                        {
                            case EntryStatus.Open:
                                <i style="color:green">@Html.DisplayFor(modelItem => item.Status)</i>
                                break;
                            case EntryStatus.InProgress:
                                <i style="color:orange">@Html.DisplayFor(modelItem => item.Status)</i>
                                break;
                            case EntryStatus.Closed:
                                <i style="color:red">@Html.DisplayFor(modelItem => item.Status)</i>
                                break;
                            default:
                                break;
                        }
                    }
                </td>
                <td>
                    <a asp-page="/TaskPages/EditTask" asp-route-projectID="@Model.Project.ID" asp-route-taskID="@item.ID">Edit</a> |
                    <a asp-page="/TaskPages/DeleteTask" asp-route-projectID="@Model.Project.ID" asp-route-taskID="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>